[submodule "src/turtlebot3"]
   path = src/turtlebot3
   url = https://github.com/ROBOTIS-GIT/turtlebot3

[submodule "src/turtlebot3_simulations"]
   path = src/turtlebot3_simulations
   url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations

[submodule "gazebo_ros_2Dmap_plugin"]
   path = src/gazebo_ros_2Dmap_plugin
   url = https://github.com/marinaKollmitz/gazebo_ros_2Dmap_plugin

